[core]
	longpaths = true
[url "https://"]
	insteadOf = git://
[http]
	sslVerify = false
	postBuffer = 2097152000
[credential "https://git.cloudmanager.adobe.com"]
	provider = generic
[https]
	postBuffer = 2097152000
[user]
	email = aditi.udayakumar@gds.ey.com
	name = aditilondhe2407
