body {
  background-color: #ebf1f8;
}

header {
  /*background-color: yellow;*/
  background: #78aaea;
  box-shadow: 0 4px 10px rgba(0, 0, 0, .25);
  color: white;

  position: relative;
  width: 100%;
  margin-bottom: 0.5rem;

  max-height: 100px;
  overflow: hidden;
}

header img {
  display: block;
}

header .title {
  position: absolute;
  bottom: 0;
  width: 100%;
}

header .title h1 {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 2.5rem;
  line-height: 2.5rem;
  margin: 0 0 0.5rem 1rem;
  padding: 0;
  max-width: 960px;
}

.container {
  margin: 0 auto;
  padding: 0;

  width: 100%;
}

a {
  text-decoration: none;
}

h4 {
  margin-bottom: 0rem;
}

.row.downloads {
  padding: 0 1rem;
}

.download {
  width: 100%;
  /*border: 1px solid black;*/
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25), 0 0 1px rgba(0, 0, 0, 0.33);
  margin: 1rem auto;
  background-color: white;
}

.download .info {
  font-size: 1.8rem;
  color: #8e8e8e;
  font-weight: lighter;
}

.download h4 {
  font-size: 2.4rem;
  color: black;
}

.download button {
  position: absolute;
  float: right;
}

.caption {
  padding: 0 1rem;
}

.caption .info {
  margin-bottom: 0.5rem;
}

.download img.header, .download .node--type-resource img {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
}

.download img.button {

}

footer {
  text-align: center;
  margin-top: 2rem;
}

.signoff {
  padding: 1rem;
  background-color: #595959;
  color: white;
}

.signoff .prc-code {
  font-size: 1.2rem;
  text-align: right;
}

.signoff .prc-code .date {
  margin-right: 2rem;
}
.external-link {
  color: #fff;
  padding-right: 5%;

}

/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/

/* Larger than mobile */
@media (min-width: 400px) {
  .signoff {
    padding: 2rem;
  }
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
  header img {
    /*max-height: 100px;*/
  }

  .downloads .download:last-child, .view-resources .download:nth-child(even) {
    /* margin-left: 2rem; */
  }
  .dialog-off-canvas-main-canvas div[data-drupal-messages-fallback] ~ .download {
    margin-left: 0;
  }
  /*.dialog-off-canvas-main-canvas .download:last-child {
    margin-left: 2rem !important;
    margin-right: 0;
  }
  */
}

/* Larger than tablet */
@media (min-width: 750px) {

}

@media (min-width: 960px) {
  header .title h1 {
    position: relative;
    margin: 0 auto 0.5rem auto;
    font-size: 3rem;
  }

  .row.downloads {
    padding: 0;
  }
}

/* Larger than desktop */
@media (min-width: 1000px) {

}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
}

form#views-form-resources-listing-page-1 {
  margin-bottom: 0;
}

.field_media_video_file video {
  padding: 0;
  margin: 0;
  /* height: 260px; */
  /* -webkit-background-size: cover; */
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  outline: -webkit-focus-ring-color auto 0;
}
.field_media_video_file__label {
  display: none
}

.otsuka-pcm-consent-modal {
  width: calc(100% - 80px);
  max-height: 100%;
}

@media (min-width: 425px) {
  .otsuka-pcm-consent-modal {
    width: calc(100% - 80px);
  }
}

@media (min-width: 768px) {
  .otsuka-pcm-consent-modal {
    width: calc(100% - 112px);
  }
}

.otsuka-pcm-consent-modal button {
  position: static;
}

.otsuka-pcm-consent-overlay a {
  text-decoration: underline;
}

.otsuka-pcm-consent-overlay .otsuka-pcm-consent-close {
  height: 16px !important;
  width: 16px !important;
}
